# IDE files
.vscode/
.wake/

# MDs
IMPROVEMENT_PLAN.md
CLAUDE.md
TECHNICAL_SPECIFICATION.md

# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

lib/
